<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="index-heading">
    <h1>Restaurants</h1>
    <%= link_to new_restaurant_path, class: 'btn btn-primary' do %>
      <i class="fas fa-plus"></i> Add Restaurant
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Cuisine</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= link_to restaurant.name, restaurant, class: 'table-column-one' %></td>
          <td><%= restaurant.category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
